/* === variables.scss =====
   Version:  1.0.0
    Author:  Mirza Hodzic / COIDEA
      Desc:  COIDEA is a web design and development blog that publishes articles and tutorials about the latest web trends, 
             techniques and new possibilities. 
   Website:  https://www.coidea.website/
  ================ */

  $white: #FFFFFF;
  $black: #3C3D45;
  $blue: #487FFF;
  $lightblue: #F2F3FA;
  $darkblue: #2F3440;